<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ahmedt.minipos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Helper.MiniPOS"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Kategori.TambahKetegori.TambahKategoriActivity"
            android:label="Tambah Kategori"
            android:theme="@style/noAct" />
        <activity
            android:name=".DashBoard.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashBoard.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register.RegisterActivity"
            android:theme="@style/noAct" />
        <activity android:name=".Merk.TambahMerk.TambahMerkActivity"
            android:theme="@style/noAct"/>
        <activity android:name=".Merk.DialogKategori.DialogKategoriActivity"
            android:theme="@style/Dialog"/>

        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/noAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>